* {
  background-color: black;
}

h1 {
  text-align: center;
  margin: auto;
  color: green;
}

h2 {
  text-align: center;
  color: green;
}

h3 {
  text-align: center;
  color: green;
}

#pside {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;

}

#cside {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
}

#user {
  text-align: center;
}

#comp {
  text-align: center;
}

#player {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  width: 600px; 
  height: 600px; 
  margin: auto;
  background-color: black;
}

#player > div {
  border: 1px solid green;
}

#computer {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  width: 600px; 
  height: 600px; 
  margin: auto;
  background-color: black;
}

#computer > div {
  border: 1px solid green;
}

button {
  height: 35px;
  width: 150px;
  margin: 10px 0px 0px 138px;
  color: green;
}
